body, html {
  height: 100%;
  }

  .bgimage {
  background-image: url("../src/images/background_home.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.color-nav{
  background-color: transparent;
}

.react-icons {
  vertical-align: baseline;

}